@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --bege: #DAD7CD;
    --cor-01: #DFDFE1;
    --cor-02: #0F8C22;
    --cor-03: #73A641;
    --cor-04: #F2C46D;
    --cor-05: #F29B9B;
    --sombra-de-items: #333333;
    --fonte: "Montserrat", sans-serif;
}

header {
    background-color: var(--cor-01);
}

nav {
    flex-wrap: wrap;
    background-color: var(--cor-02);
    width: 100vw;
    height: 125px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-01);
}

/*footer {
    margin-top: 15px;
    height: 150px;
}*/

#menu {
    display: flex;
    justify-content: space-around;
}


#logo-menu {
    width: 100px;
    margin-top: 12.5px;
}

#icone-menu {
    width: 33px;
    height: 30px;
    border-radius: 10px;
    background-size: 50px;
}

#carrinho-de-compras {
    width: 33px;
    height: 30px;
    border-radius: 10px;
    background-size: 100px;
}

#carrinho-de-compras:active, #icone-menu:active {
    background-color: var(--sombra-de-items);
}

.menu-button {
    margin-top: 35px;
    width: 53px;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
}

#container-carosel {
    height: 500px;
    margin-top: 25px;
}
.container-main-1, .container-main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 300px;
    width: 100vw;
    background-color: white;
}
.item {
    background-color: black;
    width: 100px;
    height: 150px;
}

@media screen and (min-width: 1024px) {

}