@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
 --bege: #DAD7CD;
 --verde-01: #A3B18A;
 --verde-02: #588157;
 --verde-03: #3A5A40;
 --verde-04: #344E41;
 --preto: #000;
 --branco: #fff;
 --fonte: "Montserrat", sans-serif;
}

body{
    background-color: var(--bege);
}
nav{
    background-color: var(--verde-04);
}
.titles{
    color: var(--bege);
}
.nav_items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}
.nav_image{
    padding: 1rem;
}
.dropdown-menu-color{
    background-color: var(--verde-04);
    color: var(--bege);
    border: 1px solid black;
}
.dropdown-menu{
    background-color: var(--bege);
}
.dropdown-item:hover{
    background-color: var(--branco);
}